@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
}
/* scollbar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
/* scollbar */
.background {
  background: #f6f9fc;
  padding: 50px 0;
}
.container {
  max-width: 90%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
input,
button {
  border: none;
  outline: none;
  background-color: none;
}
.row {
  width: 50%;
}
.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #f3f5f9;
  margin-left: 20px;
  text-align: center;
  border-radius: 50%;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

/*---------category----------*/
.contentWidth {
  width: 77%;
}
.category {
  box-shadow: #2b344521 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  /* height: 510px; */
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}
.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}

@media (max-width: 992px) {
  .category {
    display: none;
  }
  .contentWidth {
    width: 100%;
  }
  .homeSlide ul {
    bottom: -55px;
  }
  .container .right.row.RText {
    margin-right: 20px;
  }
  .navlink {
    width: 100%;
    background: #ffffff;
    box-shadow: -1px 15px 17px -8px rgb(0 0 0 / 26%);
    position: fixed;
      top: 0;
      left: 0;
      z-index: 99999;
      display: flex;
    flex-direction: column;
  }
  .close.home-btn {
    position: absolute;
      right: 20px;
      top: 20px;
  }
}
@media (max-width: 1005px) {
  .header {
    /* display: none; */
  }
}

/*---------category----------*/
.btn-primary {
  background: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
}
.top {
  margin-top: 80px;
}
.mtop {
  margin-top: 40px;
}
.heading i {
  color: #e94560;
  margin: 10px;
  font-size: 1.5rem;
}
.discount {
  position: absolute;
  top: 0;
  left: 0;
  background: #e94560;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  color: #fff;
  margin: 10px;
}
/*---------product-----------*/
.product {
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
  /* margin: 10px; */
}
/* .contentWidth .box.product {
  min-height: 214px;
} */
.product h3 {
  font-weight: 400;
  font-size: 17px;
}
.product .rate i {
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price {
  display: flex;
  justify-content: space-between;
  color: #e94560;
}
.price button {
  background: none;
  color: #e94560;
  font-size: 20px;
  transition: 0.5s;
  border: 1px solid rgb(3 0 71 / 9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.price button:hover {
  cursor: pointer;
  background-color: #e94560;
  color: #fff;
}
.product-like {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.product-like label {
  background-color: #0f3460;
  padding: 1px 10px;
  font-size: 12px;
  color: #fff;
  border-radius: 50px;
}
.product-like i {
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like {
  opacity: 1;
  cursor: pointer;
}
/*---------product-----------*/

/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
    top: 40%;
    width: 41px;
    height: 40px;
    line-height: 48px;
    background: #0f3460;
    border-radius: 50%;
    transition: 0.5s;
    z-index: 5;
}
.control-btn .prev {
  left: -16px;
}
.control-btn .next {
  right: -16px;
}
@media (min-width: 700px) {
  .control-btn .prev {
    left: -28px;
  }
  .control-btn .next {
    right: -28px;
  }
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: #e94560;
  color: white;
  cursor: pointer;
}
/*----- control btn -------*/


/*----- slick -------*/
.flash .slick-slide img {
  width: 100%;
  height: 235px;
}
/*----- slick -------*/


/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}
.heading-left.row.f_flex,
.heading.f_flex {
  align-items: center;
}
.heading .heading-left h2 {
  font-size: 20px;
  margin: 5px;
}
@media (min-width:700px) {
  .heading .heading-left h2 {
    font-size: 25px;
  }
}
.heading .heading-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.heading .heading-right,
.heading .heading-right i {
  text-align: right;
  color: grey;
}
/*----- heading -------*/

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.slick-list .slick-track {
  display: flex;
    gap: 5px;
}

@media (max-width: 768px) {
  .annocument .container.d_flex {
    flex-direction: column;
    gap: 10px
  }
  .annocument .container.d_flex > div {
    width: 100% !important;
  }
}

.disable-link,
.disable-link:hover {
  color: #ccc;
  cursor: default;
}

/*----- flashdeal -------*/
.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  max-width: 90%;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px; right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  gap: 20px;
}

.modal-img {
  width: 250px;
  border-radius: 8px;
}


.modal-info {
  flex: 1;
}

/*----- discount -------*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  max-width: 500px;
  width: 90%;
  position: relative;
}

.modal-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.modal-price {
  font-size: 1.2rem;
  color: #e60023;
  font-weight: bold;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/*----- shop -------*/

.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex; justify-content: center; align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 600px;
  max-width: 90%;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px; right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  display: flex;
  gap: 20px;
}

.modal-img {
  width: 250px;
  border-radius: 8px;
}

.modal-info {
  flex: 1;
}
