.heading img {
    width: 40px;
    height: 40px;
    margin-top: 5px;
  }
  .NewArrivals h4 {
    font-weight: 400;
  }
  .NewArrivals span {
    color: #e94560;
    font-size: 15px;
    font-weight: 500;
  }
  .NewArrivals .box img {
    width: 100%;
    height: 100%;
  }

.content.grid.product {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr) 
}
@media (min-width: 576px) {
  .content.grid.product {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (min-width: 768px) {
  .content.grid.product {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (min-width: 992px) {
  .content.grid.product {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}
@media (min-width: 1200px) {
  .content.grid.product {
    grid-template-columns: repeat(5, 1fr) !important;
  }
}
@media (min-width: 1400px) {
  .content.grid.product {
    grid-template-columns: repeat(6, 1fr) !important;
  }
}

